odd/cmc-proposal.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>CMC-proposal: TEI CMC SIG Customisation for the
        encoding of corpora of Computer-Mediated Communication</title>
        <author>
          <orgName>
            <ref target="https://wiki.tei-c.org/index.php/SIG:Computer-Mediated_Communication">TEI Special Interest Group Computer-Mediated Communication</ref>
          </orgName>
        </author>
        <editor xml:id="HL">
          <persName>Harald Lüngen</persName>
        </editor>
        <editor xml:id="SB">
          <persName>Syd Bauman</persName>
        </editor>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <ref target="https://wiki.tei-c.org/index.php/SIG:Computer-Mediated_Communication">TEI
          Special Interest Group Computer-Mediated Communication</ref>
        </publisher>
        <date when="2015-10-20" />
        <idno type="uri">https://github.com/TEI-CMC-SIG/cmc-core/blob/main/odd/cmc-proposal.odd</idno>
        <availability>
          <licence target="http://creativecommons.org/licenses/by/4.0/" />
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>The present ODD was born digital, based on cmc-core.odd</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <projectDesc>
        <p>A proposal by the TEI CMC SIG to TEI Council for inclusion
        in the TEI Guidelines.</p>
      </projectDesc>
    </encodingDesc>
    
    <revisionDesc>
      <change when="2021-06-16" who="#SB">
        Per today’s meeting, added an explicit <gi>datatype</gi> and
        paragraph of <gi>remarks</gi> for <att>modality</att>. Also
        added were some comments that reflected some of our thoughts
        on the subject. These comments were checked-in to git for
        posterity, but then removed so as not to confuse future
        readers.
      </change>
      <change when="2021-03-05" who="#SB">
        Per today’s meeting:
        <list>
          <item>rename <att>creation</att> to <att>generatedBy</att></item>
          <item>change <name type="class">att.global.CMC</name> to <name
          type="class">att.CMC</name>, making <gi>post</gi> and every
          element that can be a child of post that is <emph>not</emph>
          from <name type="module">tagdocs</name> a member of it. (We
          have deferred the decision as to whether
          <att>generatedBy</att> should be global or not to the full
          Council, but figure it is easier for them to imagine
          globalness then the restricted version.)</item>
          <item>added a <gi>divGen</gi> for the table of contents</item>
          <item>moved the <gi>moduleSpec</gi> for <name
          type="module">cmc</name> to the portion of this document that
          represents the new chapter of the Guidelines.</item>
        </list>
      </change>
      <change when="2021-03-04" who="#SB">
        Per meeting of <date when="2021-02-05"/> make <gi>post</gi> a
        member of model.CMC (instead of model.divPart.cmc), and make
        that model a member of model.common and <gi>quote</gi>.
        However, the content of <gi>quote</gi> is a macro, so had to
        make a new macro (<name
        type="class">macro.specialPara.cmc</name>) for the purpose.
      </change>
      <change when="2021-02-10" who="#SB">
        Per CMC group changed <att>mode</att> to
        <att>modality</att>.
      </change>
      <change when="2020-12-11" who="#SB">
        Re-worked cmc-core.odd into a structured proposal per our
        meeting of <date when="2020-12-04"/>, creating this
        ODD.
      </change>
    </revisionDesc>
  </teiHeader>

  <text>
    <front>

      <titlePage>
        <docTitle>
          <titlePart>CMC-core</titlePart>
          <titlePart>TEI Customisation for CMC corpora</titlePart>
        </docTitle>
        <docEdition>Development version <date>2021-03-05T15Z</date></docEdition>
      </titlePage>
      
      <p>This ODD describes an encoding schema for genres of
      computer-mediated communication (CMC) including social media. It
      is meant to define a basic setup that one needs to encode CMC
      corpora, as a proposal for inclusion in the <title>TEI
      Guidelines</title>.</p>

      <divGen type="toc"/>

      <div type="section">
        <head>RATIONALE</head>
        <p> … … … </p>
      </div>

      <div type="section">
        <head>CUSTOMIZATION</head>

        <p>The schema defined herein introduces four types of customizations:
        <list>
          <item>A new module named <name type="module">cmc</name> is
          introduced. This module exists to hold the various new
          classes and the new <gi>post</gi> element. </item>
          <item>The new element <gi>post</gi> is introduced. </item>
          <item>The class <name type="class">model.CMC</name> is
          defined; the new <gi>post</gi> element is a member of it,
          and it, in turn, is a member of <name
          type="class">model.common</name>. (It is not clear to us
          whether the name should be <mentioned>model.CMC</mentioned>
          or <mentioned>model.cmc</mentioned>; the latter is much
          prettier, the former seems to follow TEI naming practices
          more precisely).</item>
          <item>The new attribute class <name
          type="class">att.CMC</name> is introduced. It defines the
          new attribute <att>generatedBy</att>. The <gi>post</gi>
          element and all its children are members of <name
          type="class">att.CMC</name>. (It is not clear to us
          whether the name should be <mentioned>att.CMC</mentioned>
          or <mentioned>att.cmc</mentioned>; the latter is much
          prettier, the former seems to follow TEI naming practices
          more precisely).</item>
        </list>
        </p>

        <p>In addition to this proposal, sample annotations using this
        schema are provided. (They can be found in the accompanying
        <name type="file">../data/</name> directory.) These samples
        cover various genres including private chat, IRC, twitter,
        Second Life, and Wikipedia talk.</p>
      </div>

      <div type="section">
        <head>STATUS OF THIS SCHEMA</head>
        <p>The schema originally accompanied a feature request by the
        TEI CMC SIG to the TEI in 2019, and came with encoded examples
        and documentation. It is now used as a direct working proposal
        to Council for inclusion in the <title>TEI Guidelines</title>,
        P5.</p>
      </div>

      <div type="section">
        <head>REFERENCES</head>

        <p><bibl>Michael Beißwenger, Laura Herzberg, Harald Lüngen,
        Ciara R. Wigham: CMC-core: A basic schema for encoding CMC
        corpora in TEI. Conference poster, 7th Conference on CMC and
        Social Media Corpora for the Humanities (CMC-Corpora2019).
        University Cergy-Pontoise, Paris, France, September 9, 2019.</bibl>
        (<ref
        target="https://www.uni-due.de/germanistik/chatkorpus/tei/cmccore/poster_teicmccore_2019-08-31.pdf"
        >conference poster as pdf</ref> | <ref
        target="https://cmccorpora19.sciencesconf.org/resource/page/id/15">abstract
        in conference proceedings</ref>)</p>

        <p><bibl>Michael Beißwenger, Harald Lüngen (2019, submitted):
        CMC-core: a schema for the representation of CMC corpora in
        TEI.</bibl> Journal article, preview version on request.</p>

        <p>Description of the Chat2CLARIN schema: <bibl
        xml:id="chat2clarin"> Harald Lüngen, Michael Beißwenger, Erik
        Ehrhardt, Axel Herold, Angelika Storrer (2016): <ref
        target="https://www.linguistics.rub.de/konvens16/pub/20_konvensproc.pdf"
        >Integrating corpora of computer-mediated communication in
        CLARIN-D: Results from the curation project
        ChatCorpus2CLARIN.</ref> In: Proceedings of the 13th
        Conference on Natural Language Processing (KONVENS 2016).
        Ruhr-Universität Bochum. </bibl></p>

        <p xml:id="descmr">Description of the CoMeRe project:
        <bibl>Chanier, T., Poudat, C., Sagot, B., Antoniadis, G.,
        Wigham, C. R. , Hriba, L.,Longhi, J. &amp; Seddah, D. (2014) «
        The CoMeRe corpus for French: structuring and annotating
        heterogeneous CMC genres ». Special issue on « Building And
        Annotating Corpora Of Computer-Mediated Discourse: Issues and
        Challenges at the Interface of Corpus and Computational
        Linguistics ». <ref
        target="http://www.jlcl.org/2014_Heft2/Heft2-2014.pdf ">JLCL
        (Journal of Language Technology and Computational
        Linguistics), pp. 1-31</ref></bibl></p>
        
        <p>Description of the DeRiK schema: <bibl
        xml:id="TEIcmc2012">Michael Beißwenger, Maria Ermakova,
        Alexander Geyken, Lothar Lemnitzer, and Angelika Storrer
        (2012). « A TEI Schema for the Representation of
        Computer-mediated Communication », Journal of the Text
        Encoding Initiative, Issue 3. <ref
        target="http://jtei.revues.org/476"><idno>DOI :
        10.4000/jtei.476</idno></ref></bibl></p>
      </div>
    </front>

    <body>
      <div type="matter">
        <head>front</head>
        <div type="mods_for" xml:id="TitlePageVerso" n="">
          <head>Releases of the TEI Guidelines</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="dedication" n="">
          <head>Dedication</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="FM1" n="">
          <head>Preface and Acknowledgments</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="AB" n="1">
          <head>About These Guidelines</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="SG" n="">
          <head>A Gentle Introduction to XML</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="CH" n="4">
          <head>Languages and Character Sets</head>
          <!-- None yet -->
        </div>
      </div>
      <div type="matter">
        <head>body</head>
        <div type="mods_for" xml:id="ST" n="3">
          <head>The TEI Infrastructure</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="HD" n="5">
          <head>The TEI Header</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="CO" n="6">
          <head>Elements Available in All TEI Documents</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="DS" n="7">
          <head>Default Text Structure</head>
          <!-- None yet -->
          <!-- May need a paragraph differentiating <div> from <post>
               and referring the reader to the <post> portion of
               chapter CM. -->
        </div>
        <div type="mods_for" xml:id="WD" n="25">
          <head>Characters, Glyphs, and Writing Modes</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="VE" n="9">
          <head>Verse</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="DR" n="10">
          <head>Performance Texts</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="TS" n="11">
          <head>Transcriptions of Speech</head>
          <!-- None yet -->
        </div>
        <div type="added_chapter" xml:id="CM">
          <head>Computer-mediated Communication</head>
          <!--
              NEW CHAPTER GOES HERE (per CMC SIG and Council sub-group)
              Prose being developed in separate document:
              https://docs.google.com/document/d/18zRRX-oR0Te9es9MJH8oq9MdWuhAU8eKSsF8M6Roqdc/edit?usp=sharing
          -->
          <moduleSpec ident="cmc">
            <desc xml:lang="en">Elements, attributes, and classes for computer-mediated
            communication (CMC). This module collects all cmc-specific extensions. Hence
            these will only be added to a TEI schema when this module is selected in a
            customisation.</desc>
            <altIdent>TEI-CMC</altIdent>
            <altIdent xml:lang="en">Computer-Mediated Communication</altIdent>
          </moduleSpec>
        </div>
        <div type="mods_for" xml:id="DI" n="12">
          <head>Dictionaries</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="MS" n="">
          <head>Manuscript Description</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="PH" n="18">
          <head>Representation of Primary Sources</head>
          <!-- None yet -->
          <!-- We will need to ensure the chapter asserts it is about
               written primary sources, see CMC for born-digital. -->
        </div>
        <div type="mods_for" xml:id="TC" n="19">
          <head>Critical Apparatus</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="ND" n="20">
          <head>Names, Dates, People, and Places</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="FT" n="22">
          <head>Tables, Formulæ, Graphics and Notated Music</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="CC" n="23">
          <head>Language Corpora</head>
          <!-- None yet -->
          <!-- May need a paragraph that says, essentially “For a
               corpus of born-digital assets, consider the markup
               provided by chapter CM.” -->
        </div>
        <div type="mods_for" xml:id="SA" n="14">
          <head>Linking, Segmentation, and Alignment</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="AI" n="15">
          <head>Simple Analytic Mechanisms</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="FS" n="16">
          <head>Feature Structures</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="GD" n="21">
          <head>Graphs, Networks, and Trees</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="NH" n="31">
          <head>Non-hierarchical Structures</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="CE" n="17">
          <head>Certainty, Precision, and Responsibility</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="TD" n="27">
          <head>Documentation Elements</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="USE" n="">
          <head>Using the TEI</head>
          <!-- None yet -->
        </div>
      </div>
      <div type="matter">
        <head>back</head>
        <div type="mods_for" xml:id="REF-CLASSES-MODEL" n="">
          <head>Model Classes</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="REF-CLASSES-ATTS" n="">
          <head>Attribute Classes</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="REF-ELEMENTS" n="">
          <head>Elements</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="REF-ATTS" n="">
          <head>Attributes</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="REF-MACROS" n="">
          <head>Datatypes and Other Macros</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="BIB" n="">
          <head>Bibliography</head>
          <!-- None yet -->
          <!-- Probably want 2 or 3 of the “REFERENCES” above to be in
               the “Reading List” portion. -->
        </div>
        <div type="mods_for" xml:id="DEPRECATIONS" n="">
          <head>Deprecations</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="PREFS" n="">
          <head>Prefatory Notes</head>
          <!-- None yet -->
        </div>
        <div type="mods_for" xml:id="COL" n="">
          <head>Colophon</head>
          <!-- None yet -->
        </div>
      </div>
    </body>

    <back>

      <!--  M O D U L E   S P E C   -->

      <!--  S C H E M A   S P E C   -->

      <schemaSpec ident="cmc-proposal" start="TEI teiCorpus div" docLang="en" prefix="cp_">

        <moduleRef key="tei" />
        <moduleRef key="cmc" />
        <moduleRef key="core" />
        <moduleRef key="corpus" />
        <moduleRef key="header" />
        <moduleRef key="iso-fs" />
        <moduleRef key="namesdates" />
        <moduleRef key="spoken" />
        <moduleRef key="textstructure" />
        <moduleRef key="tagdocs" />
        <moduleRef key="linking" />
        <moduleRef key="analysis" />
        <moduleRef key="figures" />


        <!--  M O D E L    C L A S S S P E C S    -->

        <classSpec ident="model.CMC" type="model" module="cmc">
          <desc>includes the CMC-specific element <gi>post</gi> and
          makes it available on the divPart level. This allows for
          using (and combining) occurrences of <gi>post</gi>,
          <gi>u</gi>, <gi>incident</gi>, and <gi>kinesic</gi> in one
          and the same <gi>div</gi> in order to be able to represent
          the combined use of written and spoken posts, utterances,
          and nonverbal acts on the GUI of multimodal CMC
          environments.</desc>
          <classes>
            <memberOf key="model.common" />
          </classes>
        </classSpec>

        
        <!--  E L E M E N T   S P E C S    -->

        <elementSpec ident="post" mode="add" module="cmc">
          <desc xml:lang="en">a written (sometimes spoken) contribution to an ongoing CMC
          interaction which (1) has been composed by its author in its entirety as
          part of a private activity and (2) has been sent to the server en
          bloc.</desc>
          <classes>
            <memberOf key="model.CMC" />
            <memberOf key="att.global" />
            <memberOf key="att.CMC" />
            <memberOf key="att.ascribed" />
            <memberOf key="att.canonical" />
            <memberOf key="att.datable" />
            <memberOf key="att.docStatus" />
            <memberOf key="att.timed" />
            <memberOf key="att.typed" />
          </classes>
          <content>
            <alternate minOccurs="0" maxOccurs="unbounded">
              <textNode/>
              <classRef key="model.headLike"/>
              <elementRef key="opener"/>
              <classRef key="model.pLike"/>
              <classRef key="model.gLike"/>
              <classRef key="model.phrase"/>
              <classRef key="model.inter"/>
              <classRef key="model.global"/>
              <elementRef key="lg"/>
              <classRef key="model.lLike"/>
              <classRef key="model.divBottom"/>
            </alternate>
          </content>
          <attList>
            <attDef ident="modality" usage="req" mode="add">
              <desc xml:lang="en">written or spoken mode</desc>
              <datatype minOccurs="1" maxOccurs="1">
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList xml:lang="en" type="semi">
                <valItem ident="written">
                  <desc xml:lang="en">post is written, e.g. Unicode text</desc>
                </valItem>
                <valItem ident="spoken">
                  <gloss xml:lang="en">post is spoken, e.g. audio recording</gloss>
                </valItem>
                <!-- <valItem ident="image"> -->
                <!--   <desc xml:lang="en">post is an image (which may include writing)</desc> -->
                <!-- </valItem> -->
                <!-- <valItem ident="video"> -->
                <!--   <desc xml:lang="en">post is of a (silent) video clip or moving image</desc> -->
                <!-- </valItem> -->
                <!-- <valItem ident="audio"> -->
                <!--   <desc xml:lang="en">post is of an audio or sound recording</desc> -->
                <!-- </valItem> -->
                <!-- <valItem ident="audio-visual"> -->
                <!--   <desc xml:lang="en">post is of a video clip with sound</desc> -->
                <!-- </valItem> -->
              </valList>
              <remarks>
                <p>This attribute is intended to convey information
                about the CMC environment in which the post was
                created, as opposed to the MIME type of the content
                conveyed, which is indicated by the elements contained
                within the <gi>post</gi>.</p>
                <!-- <p>The <val>spoken</val> value implies an audio -->
                <!-- recording <emph>of the person posting</emph>, whereas -->
                <!-- the value <val>audio</val> implies a recording of a -->
                <!-- third party or parties or other sound, that is not a -->
                <!-- direct communication from the person posting.</p> -->
                <!-- <p>While a variety of values are available, it is -->
                <!-- worth noting that many extant corpora of CMC use only -->
                <!-- the values <val>written</val> and <val>spoken</val>.</p> -->
              </remarks>
            </attDef>
            <attDef ident="replyTo" mode="add">
              <desc>indicates to which previous post the current post replies or
              refers to. This attribute should be used to encode "technical" reply
              information, i.e. which is due to a formal reply action (such as
              activating a "reply" button in the client software) and which is
              also formally represented in the source, e.g. in the "references"
              field of an email or Usenet message header. It should rather not be
              used for inferred, or interpreted reply relations such as based on
              linguistic discourse markers, nor for the indentation relations in
              Wiki talk pages. See Lüngen/Herzberg (2019).</desc>
              <datatype minOccurs="1" maxOccurs="unbounded">
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
            <attDef ident="indentLevel" mode="add">
              <desc>marks the level of indentation of the current post in a
              thread-like structure (as defined by its author and in relation to
              the standard level of indentation which should be encoded as
              indentLevel="0"). Basically used for Wiki talk pages, but may and
              should also be used for genres such as webblog comments when the
              source was HTML. [Adapted from the <ref target="#TEIcmc2012"
              >DeRiK-Schema</ref>]. </desc>
              <datatype minOccurs="1" maxOccurs="1">
                <dataRef key="teidata.count"/>
              </datatype>
            </attDef>
          </attList>
          <exemplum type="Chat2CLARIN">
            <p>standard user postings in chat</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <post type="standard" creation="human" who="#A05" rend="color:red">
                <p>oh ja, in die Wärme...</p>
              </post>
              <post type="standard" creation="human" who="#A03" rend="color:red">
                <p>nein, hast du nicht !!</p>
              </post>
            </egXML>
          </exemplum>
          <exemplum type="Chat2CLARIN">
            <p>chat message-type "system": user enters a chatroom, "system" defined in
            listPerson</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <listPerson>
                <person xml:id="system">
                  <persName>system</persName>
                </person>
                <!-- [...] -->
              </listPerson>
              <!--  [...] -->
              <post type="event" creation="system" who="#system" rend="color:navy">
                <p>
                  <name type="nickname" corresp="#A07">Interseb</name> betritt den
                Raum.</p>
              </post>
            </egXML>
          </exemplum>
          <exemplum type="Chat2CLARIN">
            <p>action message in chat</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <post type="event" creation="human" who="#A02" rend="color:blue">
                <p>
                  <name type="nickname" corresp="#A02">McMike</name> hechtet zum
                Steuer </p>
              </post>
            </egXML>
          </exemplum>
          <exemplum type="Chat2CLARIN">
            <p>chat messages incl. interaction words (types: inflective and acronym) and
            an interaction phrase</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <post type="standard" creation="human" who="#A03" rend="color:green">
                <p>
                  <w type="AKWIND">*</w><w type="AKW" subtype="inflective"
                  >schwank</w><w type="AKWIND">*</w>
                  <!--...-->
                  <w type="AKWIND">*</w><w type="AKW">seekrank</w><w type="AKWIND"
                  >*</w>
                </p>
              </post>
              <!--[...] -->
              <post type="standard" creation="human" who="#A02" rend="color:blue">
                <p>
                  <w type="AKWIND">*</w><w type="AKW" subtype="acronym">lol</w><w
                  type="AKWIND">*</w> [...] </p>
              </post>
              <!--[...]-->
              <post type="standard" creation="human" who="#A01" rend="color:black">
                <p>
                  <phr type="AKW"><w type="AKWIND">*</w><name type="nickname"
                  corresp="#A02">McMike</name> einen fallschirm <w
                  type="AKW" subtype="inflective">umbind</w><w
                  type="AKWIND">*</w></phr>
                </p>
              </post>
            </egXML>
          </exemplum>
          <exemplum type="Chat2CLARIN">
            <p>user posting incl. an emoticon</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <post type="standard" creation="human" who="#A01" rend="color:black">
                <p> naja, der war gestrandet <w type="emoticon" subtype="ascii"
                >:(</w>
                </p>
              </post>
            </egXML>
          </exemplum>
          <exemplum type="Chat2CLARIN">
            <p>Twitter: Tweet containing an addressing term and a hashtag expression</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <post type="standard" creation="human" who="#A01" when="2015-11-18">
                <p>
                  <ref corresp="#A02" target="https://twitter.com/textarchiv">
                  <w type="ADRIND">@</w><w type="ADR">textarchiv</w></ref>
                  Erfurter Europäische Welt- und Staats-Geschichte: 20 Ausgaben
                  von 1744 aus dem MKHZ bereits in DTAQ <ref
                  target="http://www.deutschestextarchiv.de/dtaq/about">
                  http://www.deutschestextarchiv.de/dtaq/about</ref>
                  <ref target="https://twitter.com/hashtag/dtaclarin14?src=hash"
                       ><w type="hashtag">#dtaclarin14</w></ref>
                </p>
              </post>
            </egXML>
          </exemplum>
          <exemplum type="Chat2CLARIN">
            <p>example from Wikipedia discussion</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <post type="standard" creation="human" indentLevel="3" synch="t02622878"
                    who="WU00018921">
                <p> Wie du siehst hab ich die Lemma geändert, danke für den Hinweis,
                ich war nämlich selbst auch etwas unsicher bei der ganzen Sache
                und bin jetzt damit auch viel glücklicher!--<signed
                creation="template" who="WU00018921"><gap
                reason="signatureContent" />
                <time creation="template" who="WU00018921">12:01, 12. Jun.
                2009 (CEST)</time>
              </signed>
                </p>
              </post>
            </egXML>
          </exemplum>
          <exemplum type="Blog">
            <p>Blog comment: Die Anthropodizee-Frage. Wer den Himmel leerräumt, schafft
            die Menschheit ab. by Volker Birk.
            <ref>https://scilogs.spektrum.de/natur-des-glaubens/die-anthropodizee-frage-wer-himmel/#comment-31899</ref></p>

            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <post xml:id="p5" type="comment" who="#u4" synch="#t005" replyTo="#p4">
                <p>“Wenn Sie diesen Gruppen also “mangelnde Bildung“ attestieren
                wollen, so verwenden Sie bereits einen bestimmten,
                kulturgebundenen Bildungsbegriff.”</p>
                <p>Ich hoffe doch, wir können beim Bildungsbegriff der Aufklärung
                bleiben. Wer das nicht möchte, hat die Wissenschaft
              verlassen.</p></post>
            </egXML>
          </exemplum>
          <remarks>
            <p>Even though in some CMC genres (e.g., WhatsApp), the
            other parties are informed by an automated alert about the
            fact that another party is currently composing a new post,
            they cannot track the process of verbalization, i.e. how
            the written utterance emerges in the entry form on the
            user interface of its author. It is not until the author
            performs a ‘posting’ action (e.g., by hitting the ‘enter’
            key or by activating a ‘send’ button with the mouse) that
            the result of the composition process - the post - is made
            available for the other parties. From the perspective of
            its addressees/readers, a post is a stretch of text that
            has been composed in advance. Different from spoken
            utterances but similar to edited text, (1) the reader of a
            post does not have access to the verbalization process and
            (2) the mental processing of a post is not possible until
            the process of verbalization (the composition) has been
            finished and the posting action has been performed by the
            author. Posts occur in a broad range of written CMC
            genres: as user ‘messages’ in chats and WhatsApp
            dialogues, as SMS messages, as tweets in Twitter
            timelines, as individual comments following a status
            update on Facebook pages, as posts in forum threads, as
            contributions on Wikipedia talk pages or in the comments
            section of a weblog. [Element adopted from the <ref
            target="#TEIcmc2012">DeRiK schema</ref>. Aspects of the
            model adopted from the <ref target="#descmr">CoMeRe
            Schema</ref>]. The <gi>post</gi> element is a member of
            the model class model.common (via model.CMC). This allows
            for using (and combining) occurrences of <gi>post</gi>,
            <gi>u</gi>, <gi>incident</gi>, and <gi>kinesic</gi>in one
            and the same <gi>div</gi> in order to be able to represent
            the combined use of written and spoken utterances and
            nonverbal acts on the GUI of multimodal CMC
            environments.</p>
            <p>The attribute <att>modality</att> for post is required,
            its value is either written or spoken. The content model
            of a <gi>post</gi> <att>modality</att>=<val>spoken</val>
            should be macro.paraContent, i.e. the same as the one for
            <gi>u</gi>. The content model of a <gi>post</gi>
            <att>modality</att>=<val>written</val> should be like the
            one from Chat2CLARIN, i,e, similar to the one for
            <gi>div</gi>. However this co-occurrence constraint
            between the values of <att>modality</att> and the content
            models cannot be expressed in ODD code. It could be
            expressed in pure RNG code, but so far we have refrained
            from doing so, because it is ignored by the ODD2HTML
            stylesheets.</p>
            <p>References: <!--bibl>Lüngen, Harald, and Herzberg,
            Laura (2018): Reply relations in CMC: Types and
            annotation. In: <ref
            target="https://www.uantwerpen.be/images/uantwerpen/container49896/files/proceedings_CMCcorpora2018.pdf"
            > >Proceedings of the 6th Conference on Computer-Mediated
            Communication (CMC) and Social Media Corpora (CMC-corpora
            2018) 17-18 September 2018, University of
            Antwerp</ref></bibl--> <bibl>Lüngen, Harald, and Herzberg,
            Laura (2019): Types and annotation of reply relations in
            computer-mediated communication In <ref
            target="https://doi.org/10.1515/eujal-2019-0006">European
            Journal of Applied Linguistics, Vol.7(2),</ref>
            pp.305-331.</bibl>
            </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="quote" module="core" mode="change">
          <content>
            <macroRef key="macro.specialPara.cmc"/>
          </content>
        </elementSpec>

        <elementSpec ident="c" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="cl" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="interp" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="interpGrp" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="m" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="pc" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="phr" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="s" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="span" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="spanGrp" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="w" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="abbr" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="add" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="address" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="bibl" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="biblStruct" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="binaryObject" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="cb" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="choice" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="cit" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="corr" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="date" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="del" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="desc" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="distinct" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="email" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="emph" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="expan" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="foreign" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="gap" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="gb" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="gloss" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="graphic" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="head" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="hi" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="index" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="l" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="label" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="lb" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="lg" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="list" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="listBibl" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="measure" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="measureGrp" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="media" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="meeting" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="mentioned" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="milestone" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="name" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="note" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="noteGrp" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="num" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="orig" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="p" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="pb" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="ptr" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="q" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="quote" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="ref" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="reg" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="rs" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="ruby" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="said" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="sic" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="soCalled" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="stage" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="term" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="time" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="title" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="unclear" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="unit" module="core" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="figure" module="figures" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="formula" module="figures" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="notatedMusic" module="figures" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="table" module="figures" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="biblFull" module="header" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="idno" module="header" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="fLib" module="iso-fs" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="fs" module="iso-fs" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="fvLib" module="iso-fs" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="ab" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="alt" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="altGrp" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="anchor" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="join" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="joinGrp" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="link" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="linkGrp" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="seg" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="timeline" module="linking" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="addName" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="affiliation" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="bloc" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="climate" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="country" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="district" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="forename" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="genName" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="geo" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="geogFeat" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="geogName" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="listEvent" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="listNym" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="listObject" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="listOrg" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="listPerson" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="listPlace" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="listRelation" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="location" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="nameLink" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="objectName" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="offset" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="orgName" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="persName" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="persPronouns" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="placeName" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="population" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="region" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="roleName" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="settlement" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="state" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="surname" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="terrain" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="trait" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="incident" module="spoken" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="kinesic" module="spoken" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="pause" module="spoken" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="shift" module="spoken" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="vocal" module="spoken" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="writing" module="spoken" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="argument" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="byline" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="closer" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="dateline" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="docAuthor" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="docDate" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="epigraph" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="floatingText" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="opener" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="postscript" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="salute" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="signed" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec ident="trailer" module="textstructure" mode="change">
          <classes mode="change">
            <memberOf key="att.CMC" mode="add"/>
          </classes>
        </elementSpec>


        <!--    M A C R O    S P E C S     -->

        <macroSpec ident="macro.specialPara.cmc" mode="add" module="cmc">
          <gloss versionDate="2021-03-04" xml:lang="en">'special'
          paragraph content with added CMC element(s)</gloss>
          <desc versionDate="2021-03-04" xml:lang="en">defines the
          content model of the <gi>quote</gi> element, whose content
          is just like others (such as notes or list items) which
          either contain a series of component-level elements or else
          have the same structure as a paragraph, containing a series
          of phrase-level and inter-level elements, but also contains
          element(s) for transcription of CMC.</desc>
          <content>
            <alternate minOccurs="0" maxOccurs="unbounded">
              <textNode/>
              <classRef key="model.gLike"/>
              <classRef key="model.phrase"/>
              <classRef key="model.inter"/>
              <classRef key="model.divPart"/>
              <classRef key="model.global"/>
              <classRef key="model.CMC"/>
            </alternate>    
          </content>
        </macroSpec>


        <!--    A T T R I B U T E    C L A S S S P E C S     -->

        <classSpec ident="att.CMC" type="atts" module="cmc">
          <desc>This class provides the additional global attribute
          <att>creation</att> for associating information about how
          the element content was created in a CMC environment.</desc>
          <attList>
            <attDef ident="generatedBy" mode="add" module="cmc" usage="opt">
              <gloss xml:lang="en">generated by</gloss>
              <desc>Marks how the content of the respective element was generated in a
              CMC environment.</desc>
              <datatype minOccurs="1" maxOccurs="1">
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="closed">
                <valItem ident="human">
                  <desc xml:lang="en">The content of the respective element was
                  "naturally" typed or spoken by a human user</desc>
                </valItem>
                <valItem ident="template">
                  <desc xml:lang="en">The content of the respective element was
                  generated after a human user activated a template for its
                  insertion</desc>
                </valItem>
                <valItem ident="system">
                  <desc xml:lang="en">The content of the respective element was
                  generated by the system, i.e. the CMC environment</desc>
                </valItem>
                <valItem ident="bot">
                  <desc xml:lang="en">The content of the respective element was
                  generated by a bot, i.e. a non-human agent, mostly external
                  to the CMC environment.</desc>
                </valItem>
                <valItem ident="unspecified">
                  <desc xml:lang="en"> How the content of the respective element
                  was generated is unknown or unspecified.</desc>
                </valItem>
              </valList>

              <exemplum type="Chat2CLARIN">
                <p>automatic system message in chat: user moves on to another
                chatroom</p>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <post type="event" creation="system" who="#system" rend="color:blue">
                    <p>
                      <name type="nickname" corresp="#A02">McMike</name> geht
                      in einen anderen Raum: <name type="roomname">Kreuzfahrt</name>
                    </p>
                  </post>
                </egXML>
              </exemplum>

              <exemplum type="Chat2CLARIN">
                <p>automatic system message in chat: user enters a chatroom</p>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <post type="event" creation="system">
                    <p>
                      <name type="nickname" corresp="#A08">c_bo</name> betritt
                    den Raum. </p>
                  </post>
                </egXML>
              </exemplum>

              <exemplum type="Chat2CLARIN">
                <p>automatic system message in chat: user changes his font color</p>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <post type="event" creation="system" rend="color:red">
                    <p>
                      <name type="nickname" corresp="#A08">c_bo</name> hat die
                      Farbe gewechselt.
                    </p>
                  </post>
                </egXML>
              </exemplum>

              <exemplum type="Chat2CLARIN">
                <p>An automatic signature of user including an automatic timestamp
                (Wikipedia discussion, anonymized). The specification of
                <att>creation</att> at the inner element <gi>signed</gi> is
                meant to override the specification at the outer element
                <gi>post</gi>. This is generally possible when the outer
                <att>creation</att> value is "human".</p>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <post type="standard" gemeration="human" indentLevel="2"
                        synch="t00394407" who="WU00005582">
                    <p> Kurze Nachfrage: Die Hieros für den Goldnamen stammen
                    auch von Beckerath gem. Literatur ? Grüße --<signed
                    creation="template"><gap reason="signatureContent"
                    /><time creation="template" who="WU00005582"
                    >18:50, 22. Okt. 2008 (CEST)</time></signed>
                    </p>
                  </post>
                </egXML>
              </exemplum>

              <exemplum type="Chat2CLARIN">
                <p>Usenet news message: a client-generated line that introduces a
                quotation from a previous message (similar to email):</p>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <cit type="replyCit">
                    <bibl type="introQuote" creation="template">Am 03.04.2015 um
                    09:46 schrieb [_NAME_]:</bibl>
                    <quote>
                      <!-- [...] -->
                    </quote>
                  </cit>
                </egXML>
              </exemplum>

              <exemplum type="Chat2CLARIN">
                <p>Wikipedia talk page, user signature</p>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <signed creation="template" who="WU00018921"><gap
                  reason="signatureContent" />
                  <time creation="template" who="WU00018921">12:01, 12. Jun.
                  2009 (CEST)</time>
                  </signed>
                </egXML>
              </exemplum>

            </attDef>

          </attList>
        </classSpec>

      </schemaSpec>

    </back>
  </text>
</TEI>
